.header_container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  align-items: center;
  .header_container_form {
    display: flex;
    flex-wrap: wrap;
  }
  .header_container_btn {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    .header_container_btn_reset {
      display: block;
      border-radius: 20%;
      padding: 7px 12px;
    }
    @media (max-width: 400px) {
      flex-direction: column;
    }
  }
}
